
 
body{
    background-color: #777
}

   
   
   



h1 {
    text-align: center;
    font-style: ariel;
    width: 960px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 48px;
   background-color:teal;
   color: white;
   
}

.nav { 
    text-align: center;
    font-style: ariel;
    width: 960px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 24px;
    background-color: teal;
    color: white;
}

#box1{ 
    position: relative;
    padding: 20px;
    margin: 100px;
    width: 495px;
    height: 495px;
   background-color: teal}

#box2{ 
    position: absolute;
    top: 150px;
    padding: 20px;

    width: 400px;
    Height: 300px;
    right: 20px;
    left: 20px;
    background-color:#777;}

#box3{
    Position: absolute;
    top: 20px;
    right: 20px;
    left: 20px;
    width: 300px;
    height: 100px;
    background-color: Teal;}

    #box4{
        Position: absolute;
        

    }


    


    
    
    







