
 
body{
    background-color: #777
}

   
   
   



h1 {
    text-align: center;
    font-style: ariel;
    width: 960px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 48px;
   background-color:teal;
   color: white;
   
}

.nav { 
    text-align: center;
    font-style: ariel;
    width: 960px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 24px;
    background-color: teal;
    color: white;
}
/* from here down the code is trash
auto margins needed to be used with a 
wrapper. However, despite spending a lot of time
on the project it wasn't working, I was coming up on the deadline 
and just sort of rigged something that looks almost 
like it's supposed to in Chrome browser */
#box1{ 
    position: absolute;
    padding: 30px;
    margin: 100px;
    width: 495px;
    height: 495px;
    float: left;
   background-color: teal
    
}



#box2{ 
    position: relative;
    top: 40px;

    width: 400px;
    Height: 300px;
    margin-right: 0px;
    margin-left: 50px;
    background-color:#777;
}

#box3{
    text-align: center;
    Position: relative;
    top: 20px;
    margin-right: 0px;
    margin-left: 35px;
    width: 330px;
    height: 120px;
    background-color: Teal;}

    #box4{
       
        
        Position: absolute;
        bottom: 20px;
        margin-right: 0px;
        margin-left: 35px;
        width: 330px;
        height: 120px;
        background-color: teal;
        

        }


    .aside{

        
        padding: 30px;
        margin: 100px;
        position: relative;
        margin-right: 200px;
    
        height: 495px;
        width: 360px;
        float: right;
        color: white;
        background-color: teal;
        
     }    

     #footer{
        clear: both;
        top: 20px;
        margin-left: 100px;
        margin-right: 100px;
        width: 960px;
        height: 120px;
        padding: 20px;
        background-color: teal;


     }

   

       


    


    
    
    







